ACTION=="add", SUBSYSTEM=="input", KERNEL=="js*", ATTRS{name}=="Microsoft X-Box One Elite pad", SYMLINK+="input/xboxpad", TAG+="systemd", ENV{SYSTEMD_WANTS}="js2mqtt@xboxpad.service"
ACTION=="add", SUBSYSTEM=="input", KERNEL=="js*", ATTRS{name}=="Logitech Logitech Attack 3", SYMLINK+="input/joystick", TAG+="systemd", ENV{SYSTEMD_WANTS}="js2mqtt@joystick.service"
ACTION=="add", SUBSYSTEM=="input", KERNEL=="js*", ATTRS{name}=="CH PRODUCTS CH PRO PEDALS USB ", SYMLINK+="input/pedals", TAG+="systemd", ENV{SYSTEMD_WANTS}="js2mqtt@pedals.service"
